<html>
    <head>
        <title>About us</title>
        <link rel="stylesheet" href="../styles/aboutus.css ">
    </head>
    <body>
       <div class="container">
           <div class="text">
               <h1>HEYYY</h1>
               <p>
                   this is securechat.wbefuigfuiwrcbwejv
               </p>
           </div>
           <div class="back">

           </div>
           <button class="btn" onclick="location.href = '/home';">VISIT SITE </button>

       </div>
    </body>
</html>