<html>
    <head>
        <title>About us</title>
        <link rel="stylesheet" href="../styles/aboutus.css ">
    </head>
    <body>
       <div class="container">
           <img src="../styles/logo1.JPG" height="50%" style="position:absolute; top:5%; left:2.5%;">
           <img src="../styles/logo2.JPG" height="30%" style="position: absolute; top:57.5%; left:2.5%;">
           <div class="text">
               <h1>About us</h1>
               <p style="text-align: justify;">
                "Communication" is a very important aspect of our everyday life especially through the Internet. While there are numerous platforms available in the present world, the privacy and confidentiality offered by them are at very low standards. Messages sent across are accessed by third parties, passwords aren't stored with safety and there is a very thin veil of authentication with login. For this reason, a highly secure messaging website 'Securechat' has been developed to ensure the users that their right to privacy is retained and digital services continue to put the needs of the user a priority. Salted hashing refers to appending a random string to the existing string and then hashing to not have multiple users with same hash even if they have same password. Consequently, the unique hash produced by adding the salt protects the user against different attack vectors, such as rainbow table attacks, while slowing down dictionary and brute-force attacks. Blowfish is a keyed, symmetric cryptographic square and it has a 64-digit block size and a vital length of somewhere in the range of 32 pieces to 448 pieces. It is a 16-round Feistel code and uses huge key-subordinate S-boxes. It is comparative in structure to CAST-128, which uses fixed S-boxes. It is a calculation that has never been broken and is henceforth secure for encryption of messages. Authentication of messages is also a very important feature required to ensure that messages are being sent from and received by the right users.
               </p>
           </div>
           <div class="back">

           </div>
           <button class="btn" onclick="location.href = '/home';">VISIT SITE </button>

       </div>
    </body>
</html>