
<% var path = "../styles/" %>
<link rel="stylesheet" type="text/css" href="<%- path %>navbar.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Electrolize&display=swap" rel="stylesheet">

<div class="topnav">
    <div>SecureChat</div>
    <a href="/user/logout" style="float:right; align-items: right;align-content: flex-end;">Logout</a>
  </div>
