
<link rel="stylesheet" type="text/css" href="../styles/chatpage.css">

<div id="chat-container">

            <div id="conversation-list">
                
            </div>
            <div id="new-message-container">
                <a href="#">+</a>
            </div>
            <div id="chat-title">
                <span>NAME</span>
                

            </div>
            <div id="chat-message-list">
                <div class="message-row you-message">
                    <div class="message-text">OK </div>
                    <div class="message-time">April 4</div>
                </div>
                <div class="message-row other-message">
                    <div class="message-text">OK cool</div>
                    <div class="message-time">April 4</div>
                </div>

            </div>
            <div id="chat-form">
                <input type="text" placeholder="SEND MESSAGE">
        
        </div>
</div>
