<html>
    <head>
        <link rel="stylesheet" href="../styles/homepage.css" type="text/css">
    </head>
    <body>
        <div class="banner">
            <div class="navbar">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">CONTACT US</a></li>
                    <li><a href="#">SERVIsCES</a></li>
                    <li><a href="#">MORE</a></li>
                </ul>
            </div>
            <div class="content">
                <h1>SecureChast</h1>
                <p>A chat website1 which alows users to securely communicate with each other 
                    <br>and retains the privacy of users.</p>
                <div>
                    <a href="/login"><button type="button" class="button1"><span></span>Login</button></a>
                </div>
  
            </div>
        </div>
    </body>
</html>