body{
	background-color: #c6d7eb ;
	margin-top: 0;
	margin-left: 0;
}

.profile{
	width: 720px;
	height: 200px;
	background-color: white;
	margin-right: 20px;
	background-color: #d9a5b3;
}
img{
	width: 49px;
	height: 49px;
	border-radius: 50%;
	padding: 10px;
	float: left;

}
.button{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	float: right;
	margin-top: 15px;
	margin-right: 20px;
}
input{
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	width: 350px;
	height: 20px;
	margin-bottom: 8px;
	padding: 5px;
	border:2px solid;
	border-radius: 50px;
	border-color: black;
}
button{
	margin-top:20px;
	margin-bottom: 17px;

}
.chat{
	
	float: center;
	color: blue; 
	background-color: white;
	width: auto;
	height: fit-content;
	margin-top: 0px;

}
a{
	text-decoration: none;
}
.pic{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin:10px;
}
h2{
	padding-top: 5px;
	padding-right: 300px;
	font-family: italic;
}
hr{
	width: 450px;

}
.chats{
	padding-top:5px;
	background-color: white;
}
.dots:after {
  content: '\2807';
  font-size: 40px;
  float: right;
  }

.search1 {
	height: 40px;
  }
.abc{
  padding: 5px;
  border-radius: 12px;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 10px;
	border: 1px solid #888;
	width: 40%;
  }
  
  /* The Close Button */
  .close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }