body{
	background-color: blue;
}
*:focus{
	outline: none;
}
.profile{
	width: 400px;
	height: 550px;
	border: 1.5px;
	border-radius: 12px;
	background-color: black;
	overflow: hidden;
	line-height: 50px;
    position: fixed;
    top: 50%;
    left:50%;
    padding-top: 30px;
    transform: translate(-50%, -50%);
}
img{
	box-sizing: border-box;
	width: 149px;
	height: 149px;
	border-radius: 50%;

}
input[type="text"],
input[type="email"]{
	display: block;
	background: none;
	color:#E6DBE1;
	margin-bottom: 30px;
	padding: 6px;
	width: 220px;
	border:none;
	border-bottom: 1px solid white;
	transition: 0.2s ease;
    

}
input[type="text"]:focus,
input[type="email"]:focus{
	border-bottom: 2px solid white;
	color:white; 
	transition: 0.2s ease; 
}
label{
	box-sizing: border-box;
	background-color: black;
	color: white;
	border:solid;
    border-radius: 12px;
	transition: all 0.3s;
	padding: 5px;
}
label:hover{
	background-color: white;
}
input[type="file"]{
	display: none;
}
.change1{
	position: absolute;
	margin-left: 70px;
	top:220px;
}
.change2{
	position: absolute;
	margin-left: 70px;
	top:390px;
}
.button5{ 
    padding: 10px;
    border-radius: 8px;}